$primary-color: #B90F0F;
$secondary-color: #E5E5E5;

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

body {
    color: black;
}

a {
    text-decoration: none;
}


li {
    list-style-type: none;
}


p {
    line-height: normal;
    font-size: 1rem;
}

img {
    max-width: 1920px;
}

/***********Actual Styling***********/
header {
    width: 100%;
    height: 65vh;
    background: linear-gradient(rgb(192, 72, 72, 0.8), rgb(185, 15, 15, 0.8)) url(Images/Contact-img.png);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("Images/Contact-img.png");
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    .navbar {
        padding: 0 !important;
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        background-color: #faf9f9;
        color: rgb(0, 0, 0);

        .brand-title {

            .logo {
                margin: .5rem .5rem .5rem 2rem;
                font-size: 2.9rem;
                color: black;

                span {
                    color: $primary-color;
                }
            }
        }

        .navbar-links {
            height: 100%;
            font-size: 1.3rem;

            ul {
                display: flex;
                margin: 0;
                padding: 0;
            }

            li {
                padding: 0.7rem;

                .help {
                    color: rgb(71, 70, 70);
                }

                .login {
                    color: $primary-color;
                    background: #faf9f9;
                    padding: .3rem 0.9rem .44rem 0.9rem;
                    border: 2px solid $primary-color;
                }

                .signup {
                    color: $secondary-color;
                    background: $primary-color;
                    padding: .4rem .8rem .53rem .8rem;
                    margin-right: .8rem;
                }
            }
        }

        .toggle-button {
            position: absolute;
            top: 1.5rem;
            right: 1rem;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 21px;

            .bar {
                height: 3px;
                width: 100%;
                background-color: rgb(0, 0, 0);
                border-radius: 10px;
            }
        }
    }

    @media (max-width: 800px) {
        .navbar {
            z-index: 1;
            flex-direction: column;
            align-items: flex-start;

            .toggle-button {
                display: flex;
            }

            .navbar-links {
                display: none;
                width: 100%;

                ul {
                    width: 100%;
                    flex-direction: column;
                }

                li {
                    text-align: center;

                    a {
                        padding: .5rem 1rem;
                    }
                }
            }

            .navbar-links.active {
                display: flex;
            }
        }
    }

    .Hero-section {
        width: 100%;
        position: absolute;
        top: 43%;
        color: white;
        opacity: 0.9;
        padding: 0 1rem;

        .container {
            max-width: 86%;
        }

        .Hero-text {
            h1 {
                font-weight: 300;
                font-size: 3rem;

                span {
                    color: $primary-color;
                    font-weight: 400;
                }
            }

            .divider {
                border: 1px solid rgb(255, 255, 255, 0.3);
                width: 100%;
                margin-top: 1rem;
            }

            .pri-para {
                .para {
                    margin-top: 0.7rem;
                }
            }
        }
    }
}

/***********Body Styling***********/
main {

    .Contact-us {
        margin: 100px 0 150px 0;
        width: 100%;

        .container {
            max-width: 920px;
        }

        .first-part {
            .graphic {
                width: 40%;
            }

            h2 {
                color: black;
                font-size: calc(1.5em + 1vw);
                text-align: left;
                margin: 3.3rem 0 0.2rem 0;
                font-weight: 400;

            }

            form {
                input {
                    width: 510px;
                    height: 50px;
                    border-radius: 0.9rem;
                    border: none;
                    background-color: $secondary-color;
                    margin: 1.2rem 0 0 0;
                    padding-left: 20px;
                    color: rgb(87, 80, 80);

                    &:focus {
                        outline: 0;
                        color: rgb(87, 80, 80);
                        box-shadow: 0 2px 0 0 $primary-color;
                    }
                }

                .message {
                    height: 55px;
                    padding: 1.5rem 0rem 10.8rem 20px;
                }
            }

            .send-btn {
                text-align: center;
                transition: .2s all ease-in-out;
                margin-top: 1rem;
                padding: 0.5rem 1.8rem;
                width: 140px;
                border-radius: 25px;
                background-color: $primary-color;
                font-size: 1.2rem;
                border: 0;
                cursor: pointer;

                a {
                    color: $secondary-color;
                }
            }
        }

        .second-part {
            margin: 4.8rem 0 0 0.8rem;
            background: rgba(180, 11, 11, 0.9);
            width: 350px;
            border-radius: 2rem;
            padding: 2rem 0 0 0;

            h2 {
                font-weight: 400;
                color: white;
                font-size: 2.2rem;
            }

            .divider-line {
                width: 250px;
                border: 1px solid $secondary-color;
                margin-left: 3rem;
                margin-bottom: 1.8rem;
            }

            ul {
                padding: 0 0 1rem 0;

                li {
                    color: $secondary-color;
                    margin-top: 0.3rem;

                    i {
                        color: $secondary-color;
                        font-size: 2rem;
                        margin-top: 0.2rem;
                    }

                    .number {
                        transform: rotate(350deg);
                    }
                }
            }

            .icons {
                background: #E5E5E5;
                border-radius: 0 0 1.8rem 1.8rem;
                padding-bottom: 1.5rem;

                .container {
                    max-width: 300px;
                }

                li {
                    color: $primary-color;
                    margin: 0 0 1rem 0;
                    padding: 0.6rem 0 0 0;
                    font-size: 1.1rem;
                }

                i {
                    font-size: 1.6rem;
                    color: $primary-color;
                    cursor: pointer;
                    background: white;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    padding-top: 0.85rem;
                    box-shadow: 2px 2px 8px rgb(240, 157, 157);
                }
            }
        }
    }

    .Cta {
        width: 100%;
        background: linear-gradient(rgb(192, 72, 72, 0.8), rgb(185, 15, 15, 0.9)) url(Images/cta.png);
        background: linear-gradient(rgb(192, 72, 72, 0.8), rgb(185, 15, 15, 0.9)), url("Images/cta.png");
        padding: 2.3rem 0 1.8rem 0;

        .container {
            max-width: 98%;
        }

        h1 {
            color: #f1f1f1;
        }

        h2 {
            color: #c7c2c2;
        }
    }

    .particular-topic {
        margin: 170px 0 200px 0;

        h1 {
            font-weight: 400;
            margin-bottom: 3rem;
            font-size: calc(2em + 1vw);
        }

        .all-components {
            background: $primary-color;
            height: auto;
            padding: 0 0 3% 0;

            .container {
                max-width: 94%;
            }

            .first-component,
            .second-component,
            .third-component {
                background: white;
                padding: 0 12% 15% 12%;
                cursor: pointer;
                margin-left: 2.5%;

                i {
                    font-size: 3.7rem;
                    margin-bottom: 0.3rem;
                    color: #b9b7b7;
                }

                h3 {
                    color: rgb(49, 48, 48);
                    font-size: 1.9rem;
                    font-weight: 400;
                }

                p {
                    font-size: 0.9rem;
                    color: rgb(99, 97, 97);
                }
            }
        }
    }

    .Headquarters {
        h1 {
            font-weight: 400;
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }

        .container {
            max-width: 74%;
        }

        img {
            margin-top: 2rem;
            max-width: 100%;
            height: auto;
        }

        p {
            margin-top: 0.4rem;
            font-size: 1.4rem;
            text-align: left;
        }
    }
}

/***********Footer Styling***********/
.Footer {
    margin: 150px 0 0 0;
    width: 100%;
    height: auto;
    padding: 70px 0 0 0;
    background-color: $secondary-color;
    position: relative;

    p {
        color: #313030;
    }

    .footer_first_comp {
        h1 {
            span {
                color: $primary-color;
            }
        }

        .icons {
            margin-left: -13.2rem;

            i {
                color: $primary-color;
                font-size: 2rem;
                cursor: pointer;
            }

            .container {
                max-width: 250px;
            }
        }
    }

    .footer_second_comp {
        h3 {
            color: #af0d0d;
        }

        li a {
            color: #313030;
        }
    }

    .footer_third_comp {
        margin-top: -2rem;
        margin-bottom: -1.5rem;

        iframe {
            width: 100%;
            height: 300px;
        }
    }

    .footer_fourth_comp {
        background: #dddbdb;
        height: 60px;
        padding-top: 1.5rem;
        font-size: 1rem;

        p {
            color: #8d0f0f;
        }
    }
}




/***********Media Queries***********/
@media (max-width: 1400px) {
    .Footer {
        .footer_first_comp {
            .icons {
                margin-left: -9.5rem;
            }
        }
    }
}

@media (max-width: 1200px) {
    main {
        .Headquarters {
            .container {
                max-width: 80%;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

    .Footer {
        .footer_first_comp {
            .icons {
                margin-left: -6rem;
            }
        }
    }
}

@media (max-width: 990px) {
    main {
        .Contact-us {
            .container {
                max-width: 700px;
            }

            .first-part {
                .graphic {
                    width: 50%;
                }

                form {
                    input {
                        width: 380px;
                    }
                }
            }

            .second-part {
                margin: 7rem 0 0 0;
                width: 268px;
                padding: 1.3rem 0 0 0;

                h2 {
                    font-size: 1.9rem;
                }

                .divider-line {
                    width: 210px;
                    margin-left: 1.8rem;
                    margin-bottom: 1.3rem;
                }

                ul {
                    padding: 0 0 0.8rem 0;

                    li {
                        margin-top: 0.1rem;
                    }
                }

                .icons {
                    padding-bottom: 1.2rem;
                    padding-right: 0.6rem;

                    .container {
                        max-width: 300px;
                    }

                    i {
                        width: 47px;
                        height: 47px;
                        padding-top: 0.7rem;
                    }
                }
            }
        }

        .Headquarters {
            .container {
                max-width: 90%;
            }

            h1 {
                font-size: 2.8rem;
            }

            p {
                font-size: 1.2rem;
            }
        }

        .particular-topic {
            h1 {
                font-size: 2.5rem;
            }
        }
    }

    .Footer {
        margin: 100px 0 0 0;
        padding: 60px 0 0 0;

        .footer_first_comp {
            .icons {
                margin-left: -8.3rem;
            }
        }

        .footer_third_comp {
            margin-top: 2em;
        }
    }
}

@media (max-width: 800px) {
    header {
        .navbar {
            .brand-title {
                .logo {
                    margin: .5rem .5rem .5rem .8rem;
                }
            }

            .navbar-links {
                li {
                    .signup {
                        margin-right: 0rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    main {
        .Contact-us {
            .container {
                max-width: 350px;
            }

            .first-part {
                .graphic {
                    width: 170px;
                }

                h2 {
                    text-align: center;
                }

                form {
                    input {
                        width: 100%;
                    }
                }

                .send-btn {
                    margin: 1rem 0 0 6rem;
                    width: 130px;
                }
            }

            .second-part {
                margin: 4.8rem 0 0 1.8rem;
            }
        }

        .Headquarters {
            .container {
                max-width: 74%;
            }

            p {
                text-align: center;
            }
        }

        .particular-topic {
            .all-components {

                .first-component,
                .second-component,
                .third-component {
                    margin-left: 0%;
                    margin-bottom: 3%;
                    padding: 10% 12%;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .Footer {
        padding: 50px 0 0 0;

        .container {
            max-width: 375px;
        }

        .footer_first_comp {
            margin-bottom: 2rem;
            text-align: center;

            h1 {
                font-size: 2.2rem;
            }

            p {
                font-size: 0.9rem;
            }

            .icons {
                margin-left: -0.3rem;
            }
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    header {
        .navbar {
            .navbar-links {
                li {

                    .help,
                    .login {
                        &:hover {
                            color: $primary-color;
                        }
                    }

                    .signup {
                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
    }

    main {
        .Contact-us {
            .first-part {
                .send-btn:hover {
                    box-shadow: 1px 1px 5px 1px $primary-color;
                }
            }
        }

        .particular-topic {
            .all-components {
                .first-component,
                .second-component,
                .third-component {
                    &:hover {
                        i {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }

    .Footer {
        .footer_first_comp {
            .icons {
                i:hover {
                    color: #8b0707;
                }
            }
        }

        .footer_second_comp {
            li {
                a:hover {
                    color: #B90F0F;
                }
            }
        }
    }
}