$primary-color: #B90F0F;
$secondary-color: #E5E5E5;

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

body {
    color: black;
}

a {
    text-decoration: none;
}


li {
    list-style-type: none;
}


p {
    line-height: normal;
    font-size: 1em;
}

main {
    height: 100vh;

    .login-form {
        padding: 0 !important;
        margin: 0;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .container {
            width: 450px;
        }

        .login-pri {
            background: white;
            border-radius: 30px;
            box-shadow: 1px 1px 8px rgb(158, 154, 154);
            padding: 2.7em 2.3em 2.2em 2.3em;
            width: 450px;

            h3 {
                color: rgb(124, 121, 121);
                font-weight: 400;
                font-size: 1.4em;
            }

            h1 {
                font-size: 3.3em;
                margin-top: -0.08em;

                span {
                    color: $primary-color;
                }
            }

            h2 {
                margin: 0.5em 0;
            }

            form {
                text-align: right;
                padding: 0 0.7em;

                input {
                    width: 100%;
                    height: 45px;
                    border: 1px solid rgb(202, 202, 202);
                    border-radius: 25px;
                    margin: 1em 0 0 0;
                    padding-left: 55px;
                    color: rgb(85, 83, 83);
                    z-index: -1;

                    &:focus {
                        outline: 0;
                        color: rgb(85, 83, 83);
                    }
                }
            }

            .user,
            .lock,
            .email,
            .lock-sec {
                position: absolute;
                height: 55px;
                width: 55px;
                font-size: 18px;
                margin-bottom: -5.8em;
                margin-top: 0.6em;
                text-align: center;
                float: left;
                color: $primary-color;
                padding-top: 0.8em;
                opacity: 0.85;
            }

            .lock-sec {
                color: #b1aeae;
            }

            .show-hide {
                position: absolute;
                margin: -2em 0 0 -2.2em;
            }

            .show-hide i {
                font-size: 19px;
                color: $primary-color;
                opacity: 80%;
                cursor: pointer;
                display: none;
            }

            .show-hide i.hide::before {
                content: "\f070";
            }

            #password-id:valid~.show-hide i {
                display: block;
            }

            .login-btn-pri {
                padding: 0 1em;
                margin-bottom: 1.7em;

                .login-btn {
                    transition: .2s all ease-in-out;
                    margin-top: 1.3em;
                    margin-bottom: 1.6em;
                    padding: 0.58em 1.8em;
                    width: 100%;
                    background-color: $primary-color;
                    font-size: 1.1em;
                    border-radius: 25px;
                    border: 0;
                    cursor: pointer;

                    a {
                        color: white;
                    }
                }
            }

            .or {
                font-size: 1.2em;
                margin-bottom: 1.3em;
            }

            .social-media-icons {
                .container {
                    width: 84%;
                }

                .google,
                .facebook,
                .linkedin,
                .twitter {
                    box-shadow: 1px 1px 8px rgb(170, 167, 167);
                    border-radius: 80%;
                    width: 50px;
                    height: 50px;
                    cursor: pointer;

                    i {
                        font-size: 1.47em;
                        padding-top: 0.63em;
                    }

                    .g-icon {
                        color: red;
                    }

                    .f-icon {
                        color: #3B5998;
                    }

                    .t-icon {
                        color: #55ACEE;
                    }

                    .l-icon {
                        color: #2c78b3;
                    }
                }
            }
        }
    }
}


/***************** Media Queries *****************/
@media(max-width: 425px) {
    main {
        .login-form {
            .container {
                width: 340px;
            }

            .login-pri {
                padding: 2em 1em;
                width: 340px;

                .or {
                    font-size: 1.2em;
                    margin-bottom: 1em;
                }
            }
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    main {
        .login-form {
            .login-pri {
                .login-btn-pri {
                    .login-btn:hover {
                        box-shadow: 1px 1px 5px 1px #be4141;
                    }
                }
            }
        }
    }
}