html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
}

body {
  color: black;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  line-height: normal;
  font-size: 1em;
}

img {
  max-width: 1920px;
}

/***********Actual Styling***********/
header {
  width: 100%;
  height: 105vh;
  background-image: url(Images/Hero-img1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  /***********Pri-Nav-Styling***********/
  /***********Sec-Nav-Styling***********/
  /***********Hero-Styling***********/
}
header .navbar {
  padding: 0 !important;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  color: rgb(0, 0, 0);
}
header .navbar .brand-title .logo {
  margin: 0.5rem 0.5rem 0.5rem 2rem;
  font-size: 3rem;
  color: black;
}
header .navbar .brand-title .logo span {
  color: #B90F0F;
}
header .navbar .sale {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: -0.5em 0 1em 0;
  background: #d60404;
  color: white;
  padding: 1rem 3rem 0 3rem;
  font-size: 1.3rem;
}
header .navbar .navbar-links {
  height: 100%;
  font-size: 1.3rem;
}
header .navbar .navbar-links .hid {
  display: none;
}
header .navbar .navbar-links .others {
  display: none;
}
header .navbar .navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
header .navbar .navbar-links li {
  padding: 0.7rem;
}
header .navbar .navbar-links li .help {
  color: white;
}
header .navbar .navbar-links li .login {
  color: #B90F0F;
  background: #E5E5E5;
  padding: 0.3em 0.85em 0.5em 0.85em;
}
header .navbar .navbar-links li .signup {
  color: #E5E5E5;
  background: #B90F0F;
  padding: 0.3em 0.65em 0.5em 0.65em;
  margin-left: 0.5em;
}
header .navbar .toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
header .navbar .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
@media (max-width: 800px) {
  header .navbar {
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
  }
  header .navbar .toggle-button {
    display: flex;
  }
  header .navbar .navbar-links {
    display: none;
    width: 100%;
    margin-top: 1em;
  }
  header .navbar .navbar-links .hid {
    display: block;
    color: #1d1c1c;
    font-size: 0.9em;
    margin-top: -1em;
  }
  header .navbar .navbar-links .login,
header .navbar .navbar-links .signup {
    margin-left: 0.85em;
  }
  header .navbar .navbar-links .others {
    display: block;
    margin: 1.5em 0 1.5em -0.3em;
    padding-right: 2em !important;
  }
  header .navbar .navbar-links .others .nav-search-bar .search-bar {
    padding-left: 3em;
    height: 40px;
    border-radius: 20px;
    outline: none !important;
    border: none !important;
    width: 100%;
  }
  header .navbar .navbar-links .others .nav-search-bar .form-control {
    background-color: #E5E5E5;
  }
  header .navbar .navbar-links .others .nav-search-bar .search-icon {
    margin-left: 1.5em;
    z-index: 3 !important;
    position: absolute;
    color: #B90F0F;
  }
  header .navbar .navbar-links .others .nav-icons {
    font-size: 1.3em;
    margin: -0.4em 0 0 0;
    padding-right: 1em;
  }
  header .navbar .navbar-links .others .nav-icons li {
    margin-left: -1.5em;
  }
  header .navbar .navbar-links .others .nav-icons li a {
    color: #757272;
  }
  header .navbar .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  header .navbar .navbar-links li {
    text-align: left;
  }
  header .navbar .navbar-links li .help {
    color: #aa0a0a;
  }
  header .navbar .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  header .navbar .navbar-links.active {
    display: flex;
  }
  header .secc-nav {
    display: none;
  }
}
header .secc-nav {
  /***********Sec-Nav-links***********/
  /***********Search-Bar-Styling***********/
  /***********Icons-Styling***********/
}
header .secc-nav .secc-links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .secc-nav .secc-links .nav-item .nav-link {
  color: #1d1c1c;
  font-size: 1.095em;
}
header .secc-nav .sec-links {
  display: none !important;
}
header .secc-nav .nav-search-bar .search-bar {
  padding-left: 1.2em;
  border-radius: 20px;
  outline: none !important;
  border: 1px solid rgb(197, 195, 195);
  width: 130px;
  transition: all 0.5s;
  z-index: 2 !important;
}
header .secc-nav .nav-search-bar .search-bar:focus {
  width: 1100px;
}
header .secc-nav .nav-search-bar .search-icon {
  z-index: 3 !important;
  position: absolute;
  margin: 0.6rem 0 0 -2.3rem;
  color: #B90F0F;
}
header .secc-nav .nav-icons {
  padding-top: 0.6em;
  font-size: 1.5em;
}
header .secc-nav .nav-icons li .cart-icon {
  margin-left: 1em;
}
header .secc-nav .nav-icons li a {
  color: #757272;
}
header .secc-nav .nav-icons li .cart-icon {
  margin-right: 1em;
}
header .Hero-section {
  width: 100%;
}
header .Hero-section .container {
  margin: 0 !important;
}
header .Hero-section .Hero-text {
  position: absolute;
  top: 43%;
  left: 7%;
}
header .Hero-section .Hero-text h1 {
  font-size: calc(4em + 1vw);
  color: white;
  font-weight: 400;
}
header .Hero-section .Hero-text .para {
  font-size: 1.6em;
  margin: 0.5em 0 0 0;
  color: white;
}
header .Hero-section .Hero-text .offer {
  font-size: 1.3em;
  margin: 0 0 1em 0;
  color: white;
}
header .Hero-section .Hero-text .hero_button {
  margin-top: 2em;
}
header .Hero-section .Hero-text .hero_button a {
  padding: 0.5em 1.2em;
  color: white;
  background-color: #B90F0F;
  font-size: 1.4em;
}
header .scroll-down-sec {
  display: table;
}
header .scroll-down-sec .scroll-down {
  opacity: 1;
  transition: all 0.5s ease-in 3s;
}
header .scroll-down-sec .scroll-down {
  position: absolute;
  bottom: 340px;
  left: 47%;
  top: 96.5%;
  display: block;
  width: 50px;
  height: 50px;
  background: #B90F0F;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  transition: all 0.2s ease-in;
  transform: scale(1);
}
header .scroll-down-sec .scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}
@-webkit-keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/***********Body-Styling***********/
main {
  margin-top: 13em;
  /***********Filter-And-Items-Styling***********/
  /***********CTA-Styling***********/
  /***********Carousel-Styling***********/
}
main .items {
  /***********Filter-Styling***********/
  /***********Shoes-Styling***********/
}
main .items .container {
  max-width: 96%;
}
main .items .parent-div-of-sec-scroll {
  position: relative;
  /* width */
  /* Track */
  /* Handle */
}
main .items .parent-div-of-sec-scroll h4 {
  font-size: calc(1.8em + 0.5vw);
  margin: -1em 0 0.5em 0;
  font-weight: 400;
}
main .items .parent-div-of-sec-scroll ::-webkit-scrollbar {
  width: 10px;
}
main .items .parent-div-of-sec-scroll ::-webkit-scrollbar-track {
  background: rgb(241, 240, 240);
  border-radius: 10px;
}
main .items .parent-div-of-sec-scroll ::-webkit-scrollbar-thumb {
  background: rgb(173, 171, 171);
  border-radius: 10px;
  height: 200px;
}
main .items .parent-div-of-sec-scroll .components {
  max-width: 370px;
  height: 1118px;
  overflow: auto;
  overflow-x: hidden;
  font-weight: 500;
  /***********Primary-Types-Styling***********/
  /***********Secondary-Types-Styling***********/
  /***********Gender-Types-Styling***********/
  /***********Size-Types-Styling***********/
}
main .items .parent-div-of-sec-scroll .components h5 {
  font-size: 1.5em;
  margin-bottom: 0.8em;
  font-weight: 400;
}
main .items .parent-div-of-sec-scroll .components .divider {
  border: 1px solid rgb(70, 69, 69);
}
main .items .parent-div-of-sec-scroll .components hr {
  margin-top: 2em;
  width: 92%;
}
main .items .parent-div-of-sec-scroll .components .pri-types {
  margin-top: 2.5em;
}
main .items .parent-div-of-sec-scroll .components .pri-types li {
  font-weight: 400;
  font-size: 1.03em;
  color: rgb(27, 27, 27);
  cursor: pointer;
  margin-top: 0.6em;
}
main .items .parent-div-of-sec-scroll .components .sec-types h5 {
  margin-bottom: 0.5em;
}
main .items .parent-div-of-sec-scroll .components .sec-types li {
  font-weight: 400;
  font-size: 1.03em;
  color: rgb(27, 27, 27);
  cursor: pointer;
  margin-bottom: 0.6em;
}
main .items .parent-div-of-sec-scroll .components li {
  font-size: 1.03em;
  margin-top: 0.5em;
}
main .items .parent-div-of-sec-scroll .components input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
main .items .parent-div-of-sec-scroll .components input:checked {
  background: #1b1616;
}
main .items .parent-div-of-sec-scroll .components label {
  cursor: pointer;
  margin: -0.5em 0 0 0.4em;
}
main .items .parent-div-of-sec-scroll .components .gender li label {
  cursor: pointer;
  margin: -0.5em 0 0 0.4em;
}
main .items .parent-div-of-sec-scroll .components .size .container-fluid {
  max-width: 270px;
  margin-left: 0.6em;
}
main .items .parent-div-of-sec-scroll .components .size p {
  background-color: #f3f0f0;
  border: 1px solid rgb(158, 154, 154);
  height: 40px;
  width: 60px;
  border-radius: 8px;
  padding: 0.84em 0 0 1.09em;
  cursor: pointer;
}
main .items .accordion {
  display: none;
}
main .items .shoe-div {
  cursor: pointer;
}
main .items img {
  width: 100%;
  height: auto;
  background-color: rgb(244, 246, 248);
  margin: 1.5em 0;
  padding: 1em;
}
main .items p {
  color: #1d1c1c;
  line-height: 0.7em;
}
main .items .color-type {
  color: #726c6c;
}
main .Cta {
  margin: 5em 0;
  width: 100%;
  background: linear-gradient(rgba(192, 72, 72, 0.8), rgba(185, 15, 15, 0.9)) url(Images/cta.png);
  background: linear-gradient(rgba(192, 72, 72, 0.8), rgba(185, 15, 15, 0.9)), url("Images/cta.png");
  padding: 2.3em 0 1.8em 0;
}
main .Cta h1 {
  color: #E5E5E5;
  font-weight: 400;
}
main .Cta h2 {
  color: #c7c2c2;
}
main .Carousel .box {
  height: 470px;
  background-image: linear-gradient(#E5E5E5, #d16262);
  width: 330px;
  margin-top: 2em;
  padding: 1em;
}
main .Carousel .box .quote {
  color: #B90F0F;
  font-size: 6em;
  margin-top: -0.5em;
  font-family: "sans-serif";
  margin-bottom: 0.1em;
}
main .Carousel .box p {
  color: rgb(63, 61, 61);
  font-size: 0.9em;
}
main .Carousel .box img {
  width: 115px;
  margin: 2em 0 1.5em 0;
}
main .Carousel .box h2 {
  color: #B90F0F;
  font-size: 1.6em;
}
main .Carousel .box .job-title {
  color: rgb(29, 28, 28);
  font-size: 0.95em;
  margin-top: -0.4em;
}

/***********Footer Styling***********/
.Footer {
  margin: 150px 0 0 0;
  width: 100%;
  height: auto;
  padding: 70px 0 0 0;
  background-color: #E5E5E5;
  position: relative;
}
.Footer p {
  color: #313030;
}
.Footer .footer_first_comp h1 span {
  color: #B90F0F;
}
.Footer .footer_first_comp .icons {
  margin-left: -13.2em;
}
.Footer .footer_first_comp .icons i {
  color: #B90F0F;
  font-size: 2em;
  cursor: pointer;
}
.Footer .footer_first_comp .icons .container {
  max-width: 250px;
}
.Footer .footer_second_comp h3 {
  color: #af0d0d;
}
.Footer .footer_second_comp li a {
  color: #313030;
}
.Footer .footer_third_comp h3 {
  color: #af0d0d;
}
.Footer .newsletter {
  width: 100%;
  height: auto;
}
.Footer .newsletter .news-input {
  margin-left: -1.3em;
  border-radius: 100px 0px 0px 100px !important;
  min-width: 150px;
  min-width: 45px;
  height: 42px;
  font-size: 0.96em;
  padding-left: 1.5em;
}
.Footer .newsletter .news-input:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid #d6d2d2;
}
.Footer .newsletter .input-group-text {
  color: black;
  background: #B90F0F;
  border-radius: 0 100px 100px 0 !important;
  min-width: 130px;
  height: 42px;
  min-width: 40px;
  cursor: pointer;
}
.Footer .footer_fourth_comp {
  background: #dddbdb;
  height: 60px;
  padding-top: 1.5em;
  font-size: 1em;
}
.Footer .footer_fourth_comp p {
  color: #8d0f0f;
}

/***********Top BTN Styling***********/
#myBTN {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  color: #E5E5E5;
  background: #B90F0F;
  padding: 12px;
  border-radius: 10px;
}

/***********Media Queries(4)***********/
@media (max-width: 1400px) {
  header .navbar .sale {
    margin: -0.5em 0 1em 8 0.5em;
    font-size: 1.15rem;
  }
  header .navbar .navbar-links {
    font-size: 1.2rem;
  }
  header .navbar .nav-search-bar .search-bar:focus {
    width: 900px;
  }
  header .sec-nav {
    background: #E5E5E5;
    height: 60px;
  }
  header .sec-nav .navbar-nav {
    margin: 2.4em 0 0 0;
  }
  header .sec-nav .navbar-nav .nav-item .nav-link {
    font-size: 1.05em;
  }
  header .sec-nav .nav-icons {
    font-size: 1.45em;
    margin-left: -1.4em;
  }
  header .sec-nav .nav-icons li {
    margin-left: 0.9em;
  }
  header .sec-nav .nav-icons li .cart-icon {
    margin-right: 0.5em;
  }
  .Footer .footer_first_comp .icons {
    margin-left: -9.5rem;
  }
}
@media (max-width: 1199px) {
  header .navbar .brand-title .logo {
    margin: 0.5rem 0.5rem 0.5rem 1.7rem;
    font-size: 2.9rem;
  }
  header .navbar .sale {
    display: none;
  }
  header .navbar .navbar-links {
    font-size: 1.25rem;
  }
  header .secc-nav .secc-links .nav-item .nav-link {
    font-size: 1.05em;
  }
  header .secc-nav .nav-search-bar {
    margin-right: -1em;
  }
  header .secc-nav .nav-search-bar .search-bar:focus {
    width: 750px;
  }
  header .secc-nav .nav-icons {
    margin-right: -0.5em;
  }
  header .secc-nav .nav-icons li .cart-icon {
    margin-left: 0.5em;
  }
  main {
    margin-top: 8em;
  }
  main .items .accordion {
    display: block;
  }
  main .items .accordion .accordion-item {
    border: none !important;
  }
  main .items .accordion button {
    position: relative;
    display: block;
    text-align: center;
    width: 90px;
    border: 1px solid rgb(211, 209, 209);
    padding: 0.4em 2em 0.4em 0.4em;
    border-radius: 10%;
    background: #E5E5E5;
    outline: none;
    margin-bottom: 2em;
  }
  main .items .accordion button li {
    font-size: 1.3em;
    color: #B90F0F;
  }
  main .items .accordion button i {
    font-size: 1.4em !important;
  }
  main .items .accordion button i {
    font-size: 2em;
  }
  main .items .accordion button[aria-expanded=true] {
    color: #B90F0F;
  }
  main .items .accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 98em;
    transition: all 300ms linear;
    will-change: opacity, max-height;
  }
  main .items .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 300ms linear, max-height 300ms linear;
    will-change: opacity, max-height;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components {
    margin: 2em 0 2em 0;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components h5 {
    font-size: 1.5em;
    margin-bottom: 0.8em;
    font-weight: 400;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components hr {
    margin-top: 2em;
    width: 92%;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .hide-now {
    display: none;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .hide-now1 {
    display: none;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .type-hr {
    display: block;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .brand-hr {
    display: none;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .pri-types li {
    font-weight: 400;
    font-size: 0.97em !important;
    cursor: pointer;
    margin-top: 0.6em;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .pri-types li:hover {
    color: rgb(119, 116, 116);
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .sec-types li {
    font-weight: 400;
    font-size: 1.03em;
    color: rgb(54, 54, 54);
    cursor: pointer;
    margin-bottom: 0.6em;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .sec-types li:hover {
    color: rgb(119, 116, 116);
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components ul {
    padding: 0 0 0 0.8em;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components li {
    font-size: 1em;
    margin-top: 0.5em;
    color: rgb(54, 54, 54);
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components label {
    cursor: pointer;
    margin: -0.5em 0 0 0.4em;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components input {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components input:checked {
    background: #1b1616;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .size .size-div {
    margin-top: 1em;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .size .size-div p {
    background-color: #f3f0f0;
    border: 1px solid rgb(158, 154, 154);
    height: 40px;
    width: 50px;
    padding-top: 0.8em;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    margin: 0 !important;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .size .size-div p:hover {
    background-color: #e7ebec;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .price {
    margin-left: 1.5em;
  }
  main .items .parent-div-of-sec-scroll {
    display: none;
  }
  .Footer .footer_first_comp .icons {
    margin-left: -6rem;
  }
}
@media (max-width: 1000px) {
  main .Carousel .box {
    height: 400px;
    margin-top: 2em;
    padding: 1em;
  }
  main .Carousel .box .quote {
    font-size: 4em;
    margin-top: -0.6em;
  }
  main .Carousel .box p {
    font-size: 0.85em;
    line-height: 1.2em;
  }
  main .Carousel .box img {
    width: 100px;
    margin: 0.4em 0 0.7em 0;
  }
  main .Carousel .box h2 {
    font-size: 1.3em;
  }
  main .Carousel .box .job-title {
    margin-top: -0.6em;
  }
  .Footer {
    margin: 100px 0 0 0;
    padding: 60px 0 0 0;
  }
  .Footer .footer_first_comp .icons {
    margin-left: -8.3rem;
  }
  .Footer .footer_third_comp {
    margin-top: 3em;
  }
}
@media (max-width: 991px) {
  header .secc-nav .sec-links {
    display: block !important;
  }
  header .secc-nav .sec-links .nav-item {
    margin-top: 0.5em;
  }
  header .secc-nav .sec-links .nav-item a {
    color: #1d1c1c;
    font-size: 1em;
    margin-left: 0.8em;
  }
  header .secc-nav .sec-links .nav-item a:hover {
    color: #6b6969;
  }
  header .secc-nav .nav-search-bar .search-bar {
    transition: all 0.3s;
  }
  header .secc-nav .nav-search-bar .search-bar:focus {
    width: 185px;
  }
  header .Hero-section .Hero-text {
    position: absolute;
    top: 42%;
    left: 7%;
    text-align: left;
  }
  header .Hero-section .Hero-text h1 {
    font-size: 4em;
  }
  header .Hero-section .Hero-text .para {
    font-size: 1.5em;
  }
  header .Hero-section .Hero-text .offer {
    font-size: 1.3em;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .hide-now1 {
    display: block;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .type-hr {
    display: none;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .brand-hr {
    display: block;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .price {
    margin-left: 7em;
  }
}
@media (max-width: 768px) {
  header header .secc-nav .sec-links .nav-item a:hover {
    color: #1d1c1c;
  }
  header .Hero-section .Hero-text {
    position: absolute;
    top: 38%;
    left: 1.3%;
    text-align: center;
  }
  header .Hero-section .Hero-text h1 {
    font-size: 4em;
  }
  header .Hero-section .Hero-text .para {
    font-size: 1.5em;
  }
  header .Hero-section .Hero-text .offer {
    font-size: 1.1em;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .price {
    margin-left: 1.2em;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .pri-types li:hover,
main .items .accordion .sec-parent-div-of-sec-scroll .components .sec-types li:hover {
    color: rgb(27, 27, 27);
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .size .size-div p:hover {
    background-color: #f3f0f0;
  }
  main .Carousel .box {
    height: 470px;
    width: 330px;
    margin-top: 2em;
    padding: 1em;
  }
  main .Carousel .box .quote {
    font-size: 6em;
    margin-top: -0.5em;
    margin-bottom: 0.1em;
  }
  main .Carousel .box p {
    font-size: 0.9em;
  }
  main .Carousel .box img {
    width: 115px;
    margin: 2em 0 1.5em 0;
  }
  main .Carousel .box h2 {
    font-size: 1.6em;
  }
  main .Carousel .box .job-title {
    font-size: 0.95em;
    margin-top: -0.4em;
  }
  main .Cta {
    padding: 2em 0 1.5em 0;
  }
  main .Cta h1 {
    font-size: 1.8rem;
  }
  main .Cta h2 {
    font-size: 1.5rem;
    color: #c9c7c7;
  }
  .Footer {
    padding: 50px 0 0 0;
  }
  .Footer .container {
    max-width: 375px;
  }
  .Footer .footer_first_comp {
    margin-bottom: 2.5rem;
    text-align: center;
  }
  .Footer .footer_first_comp h1 {
    font-size: 2.2rem;
  }
  .Footer .footer_first_comp p {
    font-size: 0.9rem;
  }
  .Footer .footer_first_comp .icons {
    margin-left: -0.3rem;
  }
  .Footer .footer_third_comp {
    margin-top: 2.5rem;
    text-align: center;
  }
  .Footer .footer_third_comp p {
    font-size: 0.9rem;
  }
  .Footer .newsletter {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 575px) {
  main .items .container {
    width: 80% !important;
  }
  main .items .accordion button[aria-expanded=true] + .accordion-content {
    max-height: 125em;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components hr {
    margin: 2em 0 1.3em 0;
    width: 100%;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .hide-now {
    display: block;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .type-hr {
    display: block;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .hide-now1 {
    display: none;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .brand-hr {
    display: none;
  }
  main .items .accordion .sec-parent-div-of-sec-scroll .components .price {
    margin-left: 0;
  }
}
@media (hover: hover) and (pointer: fine) {
  header .navbar .navbar-links li .help:hover {
    color: #aa0a0a;
  }
  header .navbar .navbar-links li .login:hover {
    color: #B90F0F;
  }
  header .navbar .navbar-links li .signup:hover {
    color: #E5E5E5;
  }
  header .secc-nav .secc-links .nav-item .nav-link:hover {
    color: #6b6969;
  }
  header .secc-nav .nav-icons li a:hover {
    color: #444343;
  }
  header .Hero-section .Hero-text .hero_button {
    transition: all 0.3s;
  }
  header .Hero-section .Hero-text .hero_button:hover {
    transform: translateY(-5px);
  }
  main .items .parent-div-of-sec-scroll .components .pri-types li:hover {
    color: rgb(92, 89, 89);
  }
  main .items .parent-div-of-sec-scroll .components .sec-types li:hover {
    color: rgb(92, 89, 89);
  }
  main .items .parent-div-of-sec-scroll .components .size p:hover {
    background-color: #e7ebec;
  }
  .Footer .footer_first_comp .icons i:hover {
    color: #8b0707;
  }
  .Footer .footer_second_comp li a:hover {
    color: #B90F0F;
  }
  .Footer #myBTN:hover {
    background: #d4d3d3;
    color: #B90F0F;
  }
}/*# sourceMappingURL=style.css.map */